
* { 
  box-sizing: border-box; 
}
.home-content {
  background: url("back.png") no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.home-info {
  position: relative;
  width: 25%;
  left: 38%;
  color: #305d8a;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
  margin-top: 250px;
}

